@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-lato: "Lato", sans-serif;
	/* --background: #ffffff; */
	/* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --background: #0a0a0a; */
		/* --foreground: #ededed; */
	}
}

.font-lato {
	font-family: var(--font-lato);
}

body {
	/* color: var(--foreground); */
	/* background: var(--background); */
	font-family: var(--font-lato);
}
